/* geral */

html {
	font-family: 'Open sans', 'sans-serif';
	color: #373A3C;
}

a {
	transition: .5s;
}

/* sidebar */

#sidebar {
    display: flex;
    justify-content: center;
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #006599;
	padding-top: 40px;
}

#sidebar h1 {
	color: #FFF;
	font-size: 35px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#sidebar a {
    display: flex;
    justify-content: center;
	color: #FFF;
	text-decoration: none;
    font-size: 20px;
    
}

#sidebar a:hover {
	color: #F4EF5E;
}

#sidebar li {
	padding: 20px;
}

.sidebar-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.logo-doceria {
	width: 60px;
	height: 60px;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* conteudo */

.content {
	position: absolute;
	left: 300px;
	width: calc(100% - 300px);
}

.content h1, .content h2 {
	color: #006599;
	margin-bottom: 30px;
}

.content h1 {
    margin-top: 20%;;
	font-size: 48px;
}

.content h2 {
	font-size: 35px;
}

section {
	padding-left: 50px;
}

/* bem vindo */

#sessao-bemvindo {
	padding-left: 0;
}

.sessao-bemvindo-content {
	padding-left: 50px;
}

#sessao-bemvindo .banner {
	height: 500px;
	background-image: url('./assets/banner2.jpg');
	background-position: center;
	background-size: cover;
}

#sessao-bemvindo h1 {
	margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 100px;
}

.sessao-minibanner {
    
	width: 300px;
	height: 400px;
	/* background-image: url('./assets/banner3.jpg'); */
	background-position: center;
	background-size: cover;
	float: left;
}

.sessao-descricao {
	position: absolute;
	left: 370px;
    padding-right: 30px;
    
}

.sessao-descricao p {
	line-height: 2;
	font-size: 16px;
	margin-bottom: 30px;
    margin-left: 25px;
    
}

.sessao-bemvindo-btn, form input[type=submit] {
    
	background-color: #006599;
	color: #FFF;
	text-decoration: none;
	padding: 20px 40px;
	transition: .5s;
	display: block;
	width: 100px;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover {
    background-color: #2790C6;
   
}

/* sessao sobre */

#sessao-sobre .sessao-minibanner{

	float: right;
	margin-right: 50px;
	background-image: url('./assets/banner4.jpg');
}

#sessao-sobre .sessao-descricao {

	position: absolute;
	left: 25px;
    width: calc(100% - 400px);
   
}


/* galerias */

.banner-galeria {
    margin-top: 20%;
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 200px;

	width:160px;

}

#sessao-doces1, #sessao-doces2, #sessao-doces3 {
	
	display: flex;

	flex-direction: row;
    margin-top: 10%;

	margin-bottom: 50px;
	
}

.doces1-img {


	width: 17.5%;
	margin-left: .5%;
	margin-right: .5%;

}

#img1 {
	margin-top:10%;
	margin-left:-10%;
	background-image: url('./assets/galeria1.jpg');

}

#img2 {
	margin-top:10%;
	background-image: url('./assets/galeria2.jpg');
}

#img3 {
	margin-top:10%;
	background-image: url('./assets/galeria3.jpg');
}

#img4 {
	margin-top:10%;
	background-image: url('./assets/galeria4.jpg');
}

#img5 {
	margin-top:10%;
	background-image: url('./assets/galeria5.jpg');
	margin-right: 0;
}

.doces2-img{

	width: 30%;
	margin-left: .5%;
	margin-right: .5%;
}

#img6 {
	margin-top:10%;
	background-image: url('./assets/galeria6.jpg');
	margin-left: -10%;
}

#img7 {
	margin-top:10%;
	background-image: url('./assets/galeria7.jpg');
}

#img8 {
	margin-top:10%;
	background-image: url('./assets/galeria8.jpg');
	margin-right: 0;
}

.doces3-img {
	margin-top:10%;
	width: 23.9%;
	margin-left: .5%;
	margin-right: .5%;
}

#img9 {
	margin-top:10%;
	background-image: url('./assets/galeria9.jpg');
	margin-left: -10%;
}

#img10 {
	margin-top:10%;
	background-image: url('./assets/galeria10.jpg');
}

#img11 {
	margin-top:10%;
	background-image: url('./assets/galeria11.jpg');
}

#img12 {
	margin-top:10%;
	background-image: url('./assets/galeria12.jpg');
	margin-right: 0;
}

/* contato */

#form-contato {
	width: 500px;
}

#form-contato input[type=text], #form-contato input[type=email], #form-contato textarea {
	display: block;
	border: 1px solid #006599;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	font-family: 'Open sans', sans-serif;
}

#form-contato input[type=text]:focus, #form-contato input[type=email]:focus, #form-contato textarea:focus {
	border-color: #2790C6;
}

#form-contato textarea {
	height: 150px;
}

#form-contato ::placeholder {
	color: #2790C6;
}

#form-contato input[type=submit] {
	margin-left: 0;
	font-size: 16px;
	width: 180px;
}

/* footer */

footer {
	height: 100px;
	padding-top: 150px;
	color: #006599;
}

footer p {
	text-align: center;
	font-weight: bold;
}
.c {

  position: absolute;
  max-width: 310px;
  max-height: 500px;

  width: 50ch;
  height: 50ch;
  cursor: pointer;
  margin-left: 4.5%;
  margin-top: 61.7%;
  will-change: transform, opacity;
}

.front,
.back {
	
  background-size: cover;
}

.back {
  background-image: url('./assets/banner3.jpg');
}

.front {
  background-image: url(https://images.unsplash.com/photo-1582058091505-f87a2e55a40f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}


